/node_modules/
/public/hot
/public/storage
/storage/*.key
/vendor/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/js/app.js
centralizado/app/Helpers/Equivalencias.php
# package-lock.json — do not ignore, needed for CI (npm ci)